$color-neutral-1000: black;
$color-neutral-800: rgb(90, 90, 90);
$color-neutral-500: #eeeeee;
$color-neutral-0: white;

// $color-highlight-1: crimson;
$color-highlight-1: #ec890d;
$color-highlight-2: yellow;
